{
  "plugins": [
    "transform-class-properties",
    "transform-es2015-modules-commonjs",
    "babel-plugin-transform-object-rest-spread"
  ],
  "presets": [
    "es2015",
    ["env", { "modules": false }],
    "react"
  ]
}
