body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: darkslategray;
}

ol, ul {
    padding-left: 30px;
}

p {
    text-align: center;
}

.board-row {
    display: flex;
}

.board-row:after {
    /*clear: both;*/
    /*content: "";*/
    /*display: table;*/
}


.card {
    background: #ffe895;
    border: 6px solid #999;
    border-radius: 10px;
    /*float: left;*/
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.card-color-w {
    background: darkslategray;
    color: white;
}

.card-color-k {
    background: black;
    color: red;
}

.card-color-b {
    background: blue;
    color: white;
}

.card-color-r {
    background: red;
}

.card:focus {
    outline: none;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.div-center {
    text-align: center;
}

.game {
    display: flex;
}

.game-board {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.game-info {
    margin-left: 20px;
}

.kbd-navigation .card:focus {
    background: #9c9c9c;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-button {
    max-width: 100px;
}

.modal-main {
    position:fixed;
    background: #ffe895;
    border-radius: 10px;
    width: 20%;
    height: 200px;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status {
    margin-bottom: 10px;
}
