:root {
    --main-bg-color:#384d48;
    --palette-red:#db5a69;
    --palette-blue:#5bafd9;
    --card-bg-color:#ffeecf;
    --card-border:#999
}

body {
    font: 0.9rem "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background: var(--main-bg-color);
}

button {
    font: inherit;
    height: 100%;
    background: #ebe8e8;
    border-radius: 0.2rem 0.6rem;
}

input {
    font: inherit;
}

header {
    background: var(--card-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
}

.hiding-box {
    max-height: 20rem;
    transition: max-height 1s ease-in-out;
}

.hiding-box-hidden {
    max-height: 1.2rem;
}
.hiding-box-hidden .utilities-box {
    max-height: 0;
}

.hide-button {
    height: 1.2rem;
    width: 1.2rem;
}

ol, ul {
    padding-left: 30px;
}

p {
    text-align: center;
    margin-top: 0.3rem;
}

.board-row {
    display: flex;
    justify-content: center;
    flex-shrink: initial;
}

.board-row:after {
    /*clear: both;*/
    /*content: "";*/
    /*display: table;*/
}

.card {
    background: var(--card-bg-color);
    border: 6px solid var(--card-border);
    border-radius: 10px;
    /*float: left;*/
    font-size: 2.3vw;
    font-weight: bold;
    line-height: 34px;
    /*height: 10%;*/
    margin: 5px;
    padding: 0.8vw 1vw;
    text-align: center;
    width: 20%;
    /*max-width: 200px;*/
    flex-shrink: 0;
    overflow-x: visible;
    overflow-y: visible;
}

.card-color-w {
    background: gray;
    color: white;
}

.card-color-k {
    background: black;
    color: var(--palette-red);
}

.card-color-b {
    background: var(--palette-blue);
    color: white;
}

.card-color-r {
    background: var(--palette-red);
    color: white;
}

.card:focus {
    outline: none;
}

.counter-red {
    background: var(--palette-red);
    border-width: 1px;
    width: 40%;
}

.counter-blue {
    background: var(--palette-blue);
    border-width: 1px;
    width: 40%;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.div-center {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-width: 95%;
}

.game-info {
    margin-left: 20px;
}

.input-elements {
    margin: 0.5rem;
    width: 75%;
    align-self: center;
}

.kbd-navigation .card:focus {
    background: #9c9c9c;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-button {
    max-width: 80%;
    min-height: 1rem;
    font-size: 1.5rem;
}

.modal-main {
    font-size: 1.5rem;
    position: fixed;
    background: var(--card-bg-color);
    border-radius: 10px;
    min-width: 40%;
    min-height: 18rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.status {
    margin-bottom: 10px;
}

.utilities-box {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: max-height 0.5s ease-in-out;
    max-height: 20rem;
    overflow: hidden;
}
